.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btnConnect {
  width: 200px;
  height: 30px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  background: #28aa73;
  border: 1px solid #28aa73;
}
.inputBox {
  width: 200px;
  height: 30px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
}
.homeContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  padding: 50px;
  border: 1px solid rgb(95, 96, 103);
  background-color: rgb(95, 96, 103);
  border-radius: 10px;
}
.row {
  margin: 10px;
}
.spanTitle {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: #fff;
}
